@model MVCLeegProject.Models._LocalSaveModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@Model.Points

<h3>Ondersteuning bij lichamelijke verzorging</h3>
@foreach (var item in Model.DomeinBeschrijvingen1)
{
    <label>@item</label><br />
}

<h3>Ondersteuning bij psychisch welbevinden</h3>
@foreach (var item in Model.DomeinBeschrijvingen2)
{
    <label>@item</label><br />
}

<h3>Ondersteuning bij zelfredzaamheid en zelfstandigheid</h3>
@foreach (var item in Model.DomeinBeschrijvingen3)
{
    <label>@item</label><br />
}

<h3>Ondersteuning bij maatschappelijke en huiselijke problematiek</h3>
@foreach (var item in Model.DomeinBeschrijvingen4)
{
    <label>@item</label><br />
}

<h3>Ondersteuning bij huisvesting, huishouden, en financiën</h3>
@foreach (var item in Model.DomeinBeschrijvingen5)
{
    <label>@item</label><br />
}

<h3>Ondersteuning bij netwerk en relaties</h3>
@foreach (var item in Model.DomeinBeschrijvingen6)
{
    <label>@item</label><br />
}

Mate van beperking: @Model.MateBeperking <br />
Kinderen: @Model.Kinderen <br />
Zorgmijding: @Model.Zorgmijding

<br />

Aan de hand van de bovenstaande gegevens suggereert de applicatie dat de cliënt zich in OB @Model.EersteDeelIndicatie bevindt.

<br />

<button class="w3-button a-blue" onclick="history.go(-1);">&laquo; Keuzes veranderen</button>
<button class="w3-button a-blue" onclick="">Keuzes veranderen &raquo;</button>

