@model MVCLeegProject.Models._LocalSaveModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    Aan de hand van de door u opgegeven gevens hebben wij uw client de volgdende indicatie kunnen geven: <br />
    U kunt de antwoorden die u heeft ingevuld onderin terugvinden
</p>
<h1 style="font-size:10vw;"> OB @Model.EersteDeelIndicatie</h1>





@{
    int a = 0;
    int b = 0;
    int c = 0;
    int d = 0;
    int e = 0;
    int f = 0;
}


<ul class="w3-ul" style="margin-top: 50px; margin-bottom: 50px;">
    <li><b>Verplichte velden</b></li>
    <li>Mate van beperking: @Model.MateBeperking</li>
    @if (@Model.Kinderen = true)
    {
        <li>Kinderen: Ja</li>
    }
    else
    {
        <li>Kinderen: Nee</li>
    }
    @if (@Model.Zorgmijding = true)
    {
        <li>Zorgmijding: Ja</li>
    }
    else
    {
        <li>Zorgmijding: Neen</li>
    }






    @foreach (var item in Model.DomeinBeschrijvingen1)
    {
        if (a == 0)
        {
            <li><b>Ondersteuning bij lichamelijke verzorging</b></li>
        }
        <li>@item</li>
        a++;
    }
    @foreach (var item in Model.DomeinBeschrijvingen2)
    {
        if (b == 0)
        {
            <li><b>Ondersteuning bij psychisch welbevinden</b></li>
        }
        <li>@item</li>
        b++;
    }
    @foreach (var item in Model.DomeinBeschrijvingen3)
    {
        if (c == 0)
        {
            <li><b>Ondersteuning bij zelfredzaamheid en zelfstandigheid</b></li>
        }
        <li>@item</li>
        c++;
    }
    @foreach (var item in Model.DomeinBeschrijvingen4)
    {
        if (d == 0)
        {
            <li><b>Ondersteuning bij maatschappelijke en huiselijke problematiek</b></li>
        }
        <li>@item</li>
        d++;
    }
    @foreach (var item in Model.DomeinBeschrijvingen5)
    {
        if (e == 0)
        {
            <li><b>Ondersteuning bij huisvesting, huishouden, en financiën</b></li>
        }
        <li>@item</li>
        e++;
    }
    @foreach (var item in Model.DomeinBeschrijvingen6)
    {
        if (f == 0)
        {
            <li><b>Ondersteuning bij netwerk en relaties</b></li>
        }
        <li>@item</li>
        f++;
    }

</ul>
<br />







<button class="w3-button a-blue" onclick="history.go(-1);">&laquo; Keuzes veranderen</button>
<button class="w3-button a-blue" onclick="">Keuzes veranderen &raquo;</button>
