@model MVCLeegProject.Models._LocalSaveModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@Model.Points

@foreach (var item in Model.DomeinBeschrijvingen)
{
    <p>@item</p>
}

Mate van beperking: @Model.MateBeperking <br />
Kinderen: @Model.Kinderen <br />
Zorgmijding: @Model.Zorgmijding

<br />

<button class="w3-button a-blue" onclick="history.go(-1);">&laquo; Ga terug</button>

