
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Mate van beperking:</h3>
<input type="radio" name="beperking" value="geen" /> Geen beperking <br />
<input type="radio" name="beperking" value="matig" /> Matige beperking (70-80 IQ) <br />
<input type="radio" name="beperking" value="licht" /> Lichte beperking (50-70) <br />
<input type="radio" name="beperking" value="zwaar" /> Zware beperking (< 50) <br />

<h3>Zijn er kinderen in het spel?</h3>
<input type="radio" name="kinderen" value=6 /> Ja <br />
<input type="radio" name="kinderen" value=0 /> Nee <br />

<h3>Is er sprake van zorgmijding?</h3>
<input type="radio" name="zorgmijding" value=4 /> Ja <br />
<input type="radio" name="zorgmijding" value=0 /> Nee <br />



                                                      <form id="tab1">
                                                          <h2>Ondersteuning bij lichamelijke verzorging</h2>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox1vraag1" value=3> <span class="label-text">ADL</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox2vraag1" value=1><span class="label-text">Hygiëne</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox3vraag1" value=4><span class="label-text">Voeding</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox4vraag1" value=2><span class="label-text">Kleding/zelfzorg</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox5vraag1" value=3><span class="label-text">Mobiliteit</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox6vraag1" value=1><span class="label-text">Goede nachtrust</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox7vraag1" value=5><span class="label-text">Ondersteuning bij epilepsie en diabeteszelfzorg</span>
                                                              </label>
                                                          </div>
                                                          <div class="form-check">
                                                              <label>
                                                                  <input type="checkbox" name="checkbox8vraag1" value=8><span class="label-text">Verpleegtechnische handelingen</span>
                                                              </label>
                                                          </div>
                                                      </form>





<form id="tab2">
    <h2>Ondersteuning bij psychisch welbevinden</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag2" value=9> <span class="label-text">Diagnostisch onderzoek</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag2" value=7><span class="label-text">Rouwverwerking</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox3vraag2" value=6><span class="label-text">Depresssie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox4vraag2" value=9><span class="label-text">Traumaverwerking</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox5vraag2" value=9><span class="label-text">Angst-, stress-, gedragsstoornissen</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox6vraag2" value=6><span class="label-text">Dementie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox7vraag2" value=9><span class="label-text">Verslaving</span>
        </label>
    </div>
</form>



<form id="tab3">
    <h2>Ondersteuning bij zelfredzaamheid en zelfstandigheid</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag3" value=4><span class="label-text">dagbesteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag3" value=4><span class="label-text">dagbesteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox3vraag3" value=2><span class="label-text">Vrijetijds besteding</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox4vraag3" value=2><span class="label-text">Werk</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox5vraag3" value=4><span class="label-text">Onderwijs</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox6vraag3" value=2><span class="label-text">Ontwikkelen van talent</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox7vraag3" value=2><span class="label-text">Trainingen</span>
        </label>
    </div>
</form>

<form id="tab4">
    <h2>Ondersteuning bij maatschappelijk en huiselijke problematiek</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag4" value=9> <span class="label-text">Verwerking na gebeurtenissen</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag4" value=9><span class="label-text">Seksueel misbruik<n</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox3vraag4" value=9><span class="label-text">Huiselijk geweld en aggressie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox4vraag4" value=9><span class="label-text">Verslaving en overlast</span>
        </label>
    </div>
</form>

<form id="tab5">
    <h2>Ondersteuning bij huisvesting, huishouden, en financiën</h2>
    <div class="form-check">
        <label>

            <input type="checkbox" name="checkbox1vraag5" value=3> <span class="label-text">Ondersteuning bij huisvesting, huishouden en financiën</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag5" value=2><span class="label-text">Begeleiding huishouden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox3vraag5" value=2><span class="label-text">Ondersteuning administratie en financiën</span>
        </label>
    </div>
</form>


<form id="tab6">
    <h2>Ondersteunen bij netwerk en relaties</h2>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox1vraag6" value=2> <span class="label-text">Sociale vaardigheden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox2vraag6" value=2><span class="label-text">Assertiviteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox3vraag6" value=2><span class="label-text">Contacten met o.a. familie/vrienden</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox4vraag6" value=5><span class="label-text">Relatie</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox5vraag6" value=5><span class="label-text">Seksualiteit en intimiteit</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" name="checkbox6vraag6" value=2><span class="label-text">Sociale bezigheden en activiteiten</span>
        </label>
    </div>

</form>

<button id="calculateFirst" class="w3-button a-blue">Bereken eerste deel indicatie &raquo;</button>

@section Scripts {
    <script type="text/javascript">
        
        $(":checkbox").on("click", function () {
            $.ajax({
                url: "@Url.Action("AddToDomeinLocal", "Plus18")",
                data: {
                    _button: $(this).attr("name"),
                    _buttonChecked: $(this).is(":checked")
                },
                method: "POST",
                success: function (data) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        return;
                    }
                }
            });
        });

        $("#calculateFirst").on("click", function () {
            $.ajax({
                url: "@Url.Action("AddToExtraLocal", "Plus18")",
                data: {
                    _beperking: $('input[name=beperking]:checked').val(),
                    //_kinderenBool: $('input[name=kinderen]').is(":checked"),
                    _kinderenPoints: $('input[name=kinderen]:checked').val(),
                    //_zorgmijdingBool: $('input[name=zorgmijding]').is(":checked"),
                    _zorgmijdingPoints: $('input[name=zorgmijding]:checked').val(),
                },
                method: "POST",
                success: function (data) {
                    var link = "@Url.Action("CalculateFirst", "Plus18")";
                    window.location.href = link;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        return;
                    }
                }
            });
        });

       @*$(document).ready(function () {
        $('#submitBtn').on("click", function () {
            var list = [];
            $('input:checkbox:checked').each(function () { // iterate through each checked element.
                list.push($(this).attr("name"));
                console.log(list);
            });
            var postData = { values: list };
            $.ajax({
                type: "POST",
                url: "@Url.Action("PostCheckBoxes", "Plus18")",
                data: postData,
                success: function (data) {
                    var link = "@Url.Action("ShowNumberOfIndication", "Plus18", new { values = MVCLeegProject.Models.CheckBoxesModel.values })";
                    window.location.href = link;
                },
                dataType: "json",
                traditional: true
            });
        });
    });*@

    </script>
}

